
@font-face{
    font-family: "RubikReg";
    src:local("RubikRegular"),
    url('./assets/fonts/RubikRegular.ttf') 
}

@font-face{
    font-family: "RubikBld";
    src:local("RubikBold"),
    url('./assets/fonts/RubikBold.ttf') 
}

#elemen1{
    display: none;
}

#elemen2{
    display: none;
}



p{
    font-family: "RubikReg";
    margin: 10px;
    word-break: break-all;
}

body{
    margin: 0px;
    overflow: hidden;
}

.main{
    display: flex;
    flex-direction: row-reverse;
   align-items: center;
}

.logo img{
    height: 100vh;
}

.files-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    height: 10rem;
    gap: 0.5rem;
    align-items: center;
    background-color: #EEECFB;
    border-radius: 0.8rem;
    border: 1px dashed #543FD3;

}

.files-container-drop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    height: 10rem;
    gap: 0.5rem;
    align-items: center;
    background-color: white;
    border-radius: 0.8rem;
    border: 1px dashed #543FD3;
}

.file-up label{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column  ;
    gap: 0.2rem;
}

.file-up label p {
    margin-bottom: 0px;
}

.file-up img{
    width: 2rem;
    cursor: pointer;
}

.file-up input{
    display: none;
}

.forms{ 
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

#upload{
    cursor: pointer;
    border-radius: 0.5rem;
    font-family: 'RubikBld';
    color: #ffffff;
    border: none;
    width: 100%;
    background: #543FD3;
    padding: 13px 80px 13px 80px;
    text-decoration: none;
    transition: all 0.2s ease-in;
    border: 1.5px solid transparent;
    margin-bottom: 0.5rem;
}

.grecaptcha-badge { 
    visibility: hidden;
}

#upload:hover{
    color: #543FD3;
    background-color: #EEECFB;
    border: 1.5px solid #543FD3 ;
}

.url-container{
    padding: 1rem 1.5rem;
    border-radius: 0.8rem;
    background-color: #EEECFB;
    font-family: 'RubikReg';
    display: flex;
    max-width: 30rem;
    align-items: center;
    cursor: pointer;
    gap: 0.7rem;
    justify-content: space-between;
    flex-direction: column;
}

.url-container p {
    word-break: break-all;
    margin: 0px;
    font-family: "RubikBld";
    color: #543FD3;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
    background-color: #543FD3;
}

#copy{
    width: 1.2rem;
}

#open{
    width: 1.35rem;
    margin-right: 0.5rem;
}

#drop{
    width: 2.5rem;
}

#size{
    margin-top: 0px;
    background-color: #543FD3;
    border-radius: 2rem;
    padding: 7px 21px;
    color: #ffffff;
    font-size: 0.8rem;
}

@media only screen and (max-width: 768px){

    .logo img{
        display: none;
    }

    .forms{
        height: 100vh;
        width: 100vw;
        position: relative;
        overflow: hidden;
    }

    .url-container {
        width: 17.2rem;
        flex-direction: column;
        word-wrap: break-word;
    }

    .url-container p {
        font-size: 1rem;
    }

    .files-container {
        width: 18rem;
        padding: 0rem 1rem;
    }

    #elemen1{
        display: inline;
        position: absolute;
        top: -15rem;
        right: -13rem;
        width: 35rem;
        z-index: -1;
        opacity: 0.5;
    }

    #elemen2{
        display: block;
        position: absolute;
        bottom: -12rem;
        left: -15rem;
        width: 30rem;
        z-index: -1;
        opacity: 0.5;
    }
}